
#welcome {
  background-image: url(http://eskipaper.com/images/diamond-wallpaper-11.jpg);
  background-size: 100%;
  display: flex;
  text-align: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
}


/*#block {
  height: 50%;
  width: 50%;
}*/

#about {
  font-family: 'Nosifer', cursive;
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

#aboutText {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 20px;
  height: 30%;
  width: 40%;
  /*margin-top: 5%;*/
  margin-left: 10%;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
  border: 5px solid #FACADE;
  padding: 10px;
  letter-spacing: 3px;

}

#sub {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

#text {
  width: 53%;
  align-items: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: black;
  margin-left: 150px;
}

#innertext {
  width: 80%;
  margin-right: 130px;
  letter-spacing: 2px;
}

.items {
  margin-top: 200px;
}

@keyframes glowing {
  0% { background-color: #000000; box-shadow: 0 0 3px #000000; color: white; }
  50% { background-color: white; box-shadow: 0 0 40px white; color: #FACADE; }
  100% { background-color: #000000; box-shadow: 0 0 3px #000000; color: white; }
}


@media screen and (max-width: 720px) {
    #welcome {
      background-image: url(http://eskipaper.com/images/diamond-wallpaper-11.jpg);
      background-size: 100%;
      display: flex;
      text-align: center;
      height: 100vh;
      width: 100vw;
    }
  #image {
    height: 20%;
    width: 20%;
    transform: rotate(90deg);
    align-self: center;
    margin-top: 4%;
    margin-bottom: 50%;
    animation: glowing 4000ms infinite;
}
}




