#main {
  background-color: #FACADE;
}

@keyframes glowing {
  0% { background-color: #F47983; box-shadow: 0 0 3px #F47983; }
  50% { background-color: #19B5FE; box-shadow: 0 0 10px #19B5FE; }
  100% { background-color: #F47983; box-shadow: 0 0 3px #F47983; }
}


#dom {
  font-family: 'Nosifer', cursive;
  font-size: 60px;
  color: white;
  font-weight: bold;


}


strong {
  font-family: 'Space Mono', monospace;
  color: #19B5FE;

}

.button {
  font-family: 'Space Mono', monospace;
  animation: glowing 4000ms infinite;
}

@media screen and (max-width: 720px) {
  #main {
    max-width: 100%;
  }

}


