#main {
  background-color: #FACADE;
}

@keyframes glowingab {
  0% { background-color: white; box-shadow: 0 0 20px white; }
  50% { background-color: #BFBFBF; box-shadow: 0 0 40px white; }
  100% { background-color: white; box-shadow: 0 0 20px white; }
}


#dom {
  font-family: 'Nosifer', cursive;
  font-size: 60px;
  color: white;
  font-weight: bold;


}


strong {
  font-family: 'Space Mono', monospace;
  color: #19B5FE;

}

/*.button {
  font-family: 'Space Mono', monospace;
  animation: glowing 4000ms infinite;
}
*/
#ab {
  font-family: 'Space Mono', monospace;
  animation: glowingab 4000ms infinite;
  color: #FACADE;
  background-color: dodgerblue;
}

@media screen and (max-width: 720px) {
  #main {
    max-width: 100%;
  }

}


