  <link rel="stylesheet" href="css/home.css">


<section id="welcome" class="hero is-success is-fullheight">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered is-8">
      <h1 id="dom2" class="title">
        <div class="tile is-parent">
        <article id="block" class="tile is-child notification is-danger">
          <p id="about" class="title">About The Programmer</p>
          <p class="subtitle">Yours Truly</p>
          <div id="text"><p>
          var this.mel = info {
            location: Hollywood, CA,
            age: 24,
            gender: null,
            capabilities = ['HTML/CSS', 'Javascript/jQuery' 'Ruby on Rails', 'MEAN Stack']
          }
          </p></div>
          <figure class="image is-4by3">
            <img id="image" src="http://placehold.it/640x480">
          <a class="button is-large is-danger" ui-sref="projects">See Projects</a>
          </figure>
        </article>
      </div>

      </h1>
    </div>
  </div>
<!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
      </div>
    </nav>
  </div>
</section>




