  <link rel="stylesheet" href="css/home.css">


<section id="welcome" class="hero is-success is-fullheight" ng-controller="HomeController as home">
<div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-right nav-menu">
          <a class="nav-item" ui-sref="/">
            Welcome
          </a>
          <a class="nav-item is-active">
            About
          </a>
          <a class="nav-item" ui-sref="projects">
            Projects
          </a>
        </div>
      </div>
    </header>
  </div>
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered is-8">
      <h1 id="dom2" class="title">
        <div class="tile is-parent">
        <article id="block" class="tile is-child notification is-danger">
          <p id="about" class="title">About The Programmer</p>
          <p id="sub" class="subtitle">**~Yours Truly~**</p>
          <div id="text" class="items is-pulled-right"><p id="innertext"> <strong> var this.mel = { <br>
            location: Hollywood, CA, <br>
            age: 24, <br>
            gender: null, <br>
            capabilities: [{'HTML/CSS', 'Javascript/jQuery' 'Ruby on Rails', 'MEAN Stack'}]}
          </strong> </p></div>
          <figure class="items image is-3by2">
            <img id="image" src="/images/websitefoto.jpeg">
          <a class="button is-large is-danger" ui-sref="projects">See Projects</a>
          </figure>
        </article>
      </div>

      </h1>
    </div>
  </div>
<!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
      </div>
    </nav>
  </div>
</section>




