  <link rel="stylesheet" href="css/home.css">


<section id="welcome" class="hero is-primary is-fullheight" ng-controller="HomeController as home">
        <div id="mainDiv">
          <h1 id="about" class="title">{{home.title}}</h1>
              <div id="aboutText">{{home.about}}</div>
                 <div id="mephoto">
                    <a id="btn" class="button is-large" ui-sref="projects">Projects</a>
                        <div id="buttons">
                          <img id="image" src="images/websitefoto.jpeg">
                      </div>
                   </div>
          </div>

</section>






