 <div ng-controller="IndexController as index">
  <div class="hero-body">
      <div class="container has-text-centered">
        <div id="landing">
          <h1 id="dom" class="title">
              Mel Rabineau
            </h1>
               <h2 id="sub" class="subtitle">
                  <strong> Not Your Average Nerd </strong>
                </h2>
            <nav>
            <a id="ab" class="button is-large" ui-sref="home"> About </a>
              <!-- <a id="ab" class="button is-large" ui-sref="home">About</a> -->
            </nav>
        </div>
     </div>
    </div>
  </div>
