

<div ng-controller="ProjectController as project">



<section id="freelance" class="hero is-small is-primary is-bold head">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="pro">
          Freelance Work
        </h1>
      </div>
    </div>
  </section>

  <section id="hos" class="hero is-small is-primary is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          <a href="https://house-of-suelo.herokuapp.com/">House of Suelo</a>
        </h1>
        <h2 class="subhead">Built in three days using React</h2>
      </div>
    </div>
  </section>

  <section id="jr" class="hero is-small is-primary is-bold">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            <a href="#">Josh Rabineau Portfolio (Coming Soon!)</a>
          </h1>
          <h2 class="subhead">Built in React</h2>
        </div>
      </div>
    </section>

  <section id="projects" class="hero is-small is-primary is-bold head">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="pro">
          Projects!
        </h1>
      </div>
    </div>
  </section>


  <section id="wap" class="hero is-small is-primary is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          <a href="https://mrabineau.github.io/walk_the_plank/">Walk The Plank</a>
        </h1>
        <h2 class="subhead">Built in one week using HTML, CSS, and Javascript</h2>
      </div>
    </div>
  </section>

  <section id="fus" class="hero is-small is-primary is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          <a href="https://tranquil-temple-83514.herokuapp.com/">Fun With Slangs</a>
        </h1>
        <h2 class="subhead">Built in one week using Ruby on Rails</h2>
      </div>
    </div>
  </section>

  <section id="gify" class="hero is-small is-primary is-bold">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
              <a href="https://the-gif-that-keeps-on-gifing.herokuapp.com/">The Gif That Keeps on Gifing</a>
        </h1>
        <h2 class="subhead">Built in one week using MongoDB, Express, Node.js, and AJAX</h2>
      </div>
    </div>
  </section>

</div>

