<link rel="stylesheet" href="css/project.css">
<body>

<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-right">
      <a class="nav-item is-tab" ui-sref="/">Welcome</a>
      <a class="nav-item is-tab" ui-sref="home">About</a>
      <a class="nav-item is-tab is-active">Project</a>
    </div>
  </div>
</nav>
<section class="hero is-small is-danger is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 id="pro">
        Projects!
      </h1>
    </div>
  </div>
</section>

<section class="hero is-small is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <a href="https://mrabineau.github.io/walk_the_plank/">Walk The Plank</a>
      </h1>
    </div>
  </div>
</section>

<section class="hero is-small is-warning is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <a href="https://tranquil-temple-83514.herokuapp.com/">Fun With Slangs</a>
      </h1>
    </div>
  </div>
</section>

<section class="hero is-small is-info is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
            <a href="https://the-gif-that-keeps-on-gifing.herokuapp.com/">The Gif That Keeps on Gifing</a>
      </h1>
    </div>
  </div>
</section>

<section class="hero is-info is-success is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <a href="#">Project Four TBD</a>
      </h1>
    </div>
  </div>
</section>

</body>
<script src="js/project.js"></script>
<!-- <div class="modal">
  <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Walk The Plank</p>
      </header>
      <section class="modal-card-body">

      </section>
      <footer class="model-card-foot"></footer>
  </div>
</div> -->
<!-- <button id="button1" class="button is-large is-danger">Walk The Plank</button>
